<p>This is custom template page</p>
<p>you can see this content by custom_template_routing module</p>

<h1>Welcom to {{ org_name }}</h1>
<p> Visit website by <a href='{{ website_link }}'>Click here</a></p>

<ul>
    {% for result in results %}
        <li>{{ result.id }}</li>
        <li>{{ result.title }}</li>
    {% endfor %}
</ul>